.card--left,
.card--right {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card__image-container {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.card__image {
  background-color: var(--light-grey);
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.card__body {
  background-color: var(--white);
  border: 1px solid var(--silver);
}

.card__body--left,
.card__body--right {
  align-items: center;
  display: flex;
  padding: 24px;
}

.card__body--left {
  border-left: 0;
}

.card__body--right {
  border-right: 0;
}

.card__body--top {
  border-top: 0;
  padding-top: 24px;
}

.card__body--bottom {
  border-bottom: 0;
  padding-bottom: 24px;
}

.card__text {
  font-family: var(--family-base);
  line-height: 1.3;
  margin: 0;
}

