.card {
  font-size: var(--font-base);
  width: 100%;
}

.card--left,
.card--right {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card__image-container {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.card__image {
  background-color: var(--light-grey);
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

a .card__image {
  &:hover,
  &:focus {
    opacity: 0.9;
  }
}

.card__body {
  background-color: var(--white);
}

.card__body--border {
  border: 1px solid var(--silver);
  padding: 24px;
}

.card__body--borderless {
  border: 0;
  padding: 0;
}

.card__body--left,
.card__body--right {
  align-items: center;
  display: flex;
  padding: 24px 48px;
}

.card__body--left {
  border-left: 0;
}

.card__body--right {
  border-right: 0;
}

.card__body--top {
  border-top: 0;
  padding-top: 24px;
}

.card__body--bottom {
  border-bottom: 0;
  padding-bottom: 24px;
}

.card__label {
  font-family: var(--family-base);
  font-size: 0.75rem;
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  margin: 0 0 8px 0;
}

.card__text {
  font-family: var(--family-base);
  font-size: 1rem;
  line-height: 1.4;
  margin: 16px 0 0 0;
}

