:root {
  --black: #000;
  --black-variant: #222;
  --silver: #c0c0c0;
  --light-grey: #d3d3d3;
  --white: #fff;
}

:root {
  --family-heading: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --family-base: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-base: 16px;
  --weight-normal: 400;
  --weight-bold: 700;
}